#shop-area {
    background-color: #F4F4F4;
    padding: 50px 0 100px;
    border: 10px solid white;

    .sidebar {
        border-radius: 5px;

        .sidebar-title {
            background: #191919;
            color: #fff;
            border-radius: 5px 5px 0 0;
            font-weight: bold;
            margin-bottom: 0;
            padding: 20px 27px 18px 20px;
            font-size: 16px;
            position: relative;
            cursor: pointer;

            img {
                margin-right: 20px;
            }

            i {
                float: right;
                top: 50%;
                margin-top: 4px;
            }
        }

        .single-widget {
            margin-bottom: 30px;

            .sidebar-categories {
                background: #fff;
                border-radius: 0 0 5px 5px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        padding: 20px 24px 18px 53px;
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--heading-color);
                        border-bottom: 1px solid #f2f2f2;
                        position: relative;
                        display: block;
                        transition: all 0.3s ease-in;
                        text-decoration: none;

                        img {
                            position: absolute;
                            left: 20px;
                            top: 39%;
                        }

                        .icon-shop {
                            position: absolute;
                            left: 20px;
                            top: 30%;
                        }

                        i {
                            float: right;
                            top: 47%;
                            margin-top: 4px;
                        }
                    }
                }
            }

            .sidebar-rating {
                background: #fff;
                padding: 25px 20px 18px;
                border-radius: 0 0 5px 5px;

                .sidebar-single-rating {
                    position: relative;

                    input {
                        position: absolute;
                        opacity: 0;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        position: absolute;
                        top: 5px;
                        left: 0px;
                        height: 13px;
                        width: 13px;
                        cursor: pointer;
                        background: #fff;
                        border: 1px solid #2d2e30;
                        border-radius: 2px;
                    }

                    .star-rating {
                        display: inline-block;
                        padding: 0 0 10px 25px;
                        color: #A1A2A3;

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .single-product-card {
        border: 1px solid #ececec;
        background: #fff;
        position: relative;
        margin-bottom: 30px;
    }

    .single-product-card-2 {
        border-radius: 5px;

        img {
            border-radius: 5px 5px 0 0;
            height: 250px;
        }

        .product-card-details {
            padding: 23px 20px 22px;

            .chance {
                position: absolute;
                top: 15px;
                right: 13px;
                background: #ffb400;
                height: 25px;
                padding: 0 17px;
                line-height: 25px;
                color: #fff;
                font-size: 14px;
                border-radius: 10px 5px 10px 5px;
            }::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border: none;
                border-left: solid 5px white;
                border-bottom: solid 20px transparent;
                z-index: 1;
                transition: 0.4s
            }::after{
                position: absolute;
                content: "";
                right: 0;
                top: 5px;
                width: 0;
                height: 0;
                border: none;
                border-left: solid 5px transparent;
                border-bottom: solid 20px white;
                z-index: 1;
                transition: 0.4s;
            }

            .categories {
                font-size: 14px;
                color: #A1A2A3;
                margin-bottom: 9px;
            }

            .title {
                font-size: 16px;
                font-weight: bold;
                color: #191919;
                line-height: 1.3;
                margin-bottom: 8px;
            }

            a {
                text-decoration: none;
                color: inherit;
                outline: none;
            }

            .star-rating {
                margin-bottom: 9px;

                i {
                    color: gold;
                }
            }

            .shop-price {
                color: #ffb400;
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
            }
        }
    }
}
