#shop-area {
    background-color: #F4F4F4;
    padding: 50px 0 100px;
    border: 10px solid white;

    .sidebar {
        border-radius: 5px;

        .sidebar-title {
            background: #191919;
            color: #fff;
            border-radius: 5px 5px 0 0;
            font-weight: bold;
            margin-bottom: 0;
            padding: 20px 27px 18px 20px;
            font-size: 16px;
            position: relative;
            cursor: pointer;

            img {
                margin-right: 20px;
            }

            i {
                float: right;
                top: 50%;
                margin-top: 4px;
            }
        }

        .single-widget {
            margin-bottom: 30px;

            .sidebar-categories {
                background: #fff;
                border-radius: 0 0 5px 5px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        padding: 20px 24px 18px 53px;
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--heading-color);
                        border-bottom: 1px solid #f2f2f2;
                        position: relative;
                        display: block;
                        transition: all 0.3s ease-in;
                        text-decoration: none;

                        img {
                            position: absolute;
                            left: 20px;
                            top: 39%;
                        }

                        .icon-shop {
                            position: absolute;
                            left: 20px;
                            top: 30%;
                        }

                        i {
                            float: right;
                            top: 47%;
                            margin-top: 4px;
                        }
                    }
                }
            }

            .sidebar-rating {
                background: #fff;
                padding: 25px 20px 18px;
                border-radius: 0 0 5px 5px;

                .sidebar-single-rating {
                    position: relative;

                    input {
                        position: absolute;
                        opacity: 0;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        position: absolute;
                        top: 5px;
                        left: 0px;
                        height: 13px;
                        width: 13px;
                        cursor: pointer;
                        background: #fff;
                        border: 1px solid #2d2e30;
                        border-radius: 2px; 
                    }
                    .star-rating{
                        display: inline-block;
                        padding: 0 0 10px 25px;
                        color: #A1A2A3;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}