/*====HEADER START======*/
.container-fluid {
  width: 85% !important;
}

.header-transparent {
  background-color: transparent;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .header-top {
  padding: 12px 0;
  border-bottom: 1px solid rgba(235, 235, 235, 0.25);
}

.header .header-top .header-top-info {
  text-align: center;
}

.header .header-top .header-top-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .header-top .header-top-info ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #222;
}

.header .header-bottom .menu-right {
  margin-bottom: 20px;
}

.header .header-bottom .menu-right .container-fluid {
  width: 85%;
}

.header .header-bottom .menu-right .container-fluid .logo a {
  display: inline-block;
}

.header .header-bottom .menu-right .container-fluid .menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-bottom .menu-right .container-fluid .menu > ul > li {
  margin-right: 40px;
  position: relative;
}

.header .header-bottom .menu-right .container-fluid .menu > ul > li > a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  display: block;
  padding: 30px 0;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
}

.header .header-bottom .menu-right .container-fluid .menu > ul > li:hover a {
  color: #ffb400;
}

.header .header-bottom .menu-right .container-fluid .menu > ul > li:hover .sid-menu {
  opacity: 1;
  visibility: visible;
}

.header .header-bottom .menu-right .container-fluid .menu > ul > li > a span {
  font-size: 12px;
  margin-left: 5px;
}

.header .header-bottom .menu-right .container-fluid .sid-menu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 30px;
  padding: 20px 0;
  background-color: #222;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 210px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.header .header-bottom .menu-right .container-fluid .search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.header .header-bottom .menu-right .container-fluid .search-form form button {
  background-color: transparent;
  border: 0;
  color: #222;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
}

.header .header-bottom .menu-right .container-fluid .search-form form button span {
  font-size: 24px;
  line-height: 1;
  display: block;
}

.header .header-bottom .menu-right .container-fluid .search-form form input {
  width: 180px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: #222;
  line-height: 50px;
  padding-right: 10px;
}

.header .header-bottom .menu-right .container-fluid ::-webkit-input-placeholder {
  color: #222;
}

.header .header-bottom .menu-right .container-fluid :-ms-input-placeholder {
  color: #222;
}

.header .header-bottom .menu-right .container-fluid ::-ms-input-placeholder {
  color: #222;
}

.header .header-bottom .menu-right .container-fluid ::placeholder {
  color: #222;
}

.header .header-bottom .menu-right .container-fluid *:focus {
  outline: none;
}

.header .header-bottom .menu-right .container-fluid .icone > li:hover .login-down {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.header .header-bottom .menu-right .container-fluid .icone > li {
  position: relative;
  margin-left: 15px;
  text-align: center;
}

.header .header-bottom .menu-right .container-fluid .icone > li .login-down {
  position: absolute;
  top: 80%;
  right: 0;
  width: 200px;
  background-color: #fff;
  padding: 20px 25px;
  z-index: 101;
  text-align: left;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-bottom .menu-right .container-fluid .icone > li .login-down li {
  margin-bottom: 10px;
}

.header .header-bottom .menu-right .container-fluid .icone > li .login-down li a {
  display: block;
  font-weight: normal;
  border-top: none;
  height: inherit;
  border-radius: 0;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
  font-size: 13px;
}

.header .header-bottom .menu-right .container-fluid .icone > li .login-down li a:hover {
  color: #ffb400;
  text-decoration: none;
}

.header .header-bottom .menu-right .container-fluid .icone > li .login-down li a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header .header-bottom .menu-right .container-fluid .icone > li > a {
  color: #222;
  display: block;
  font-weight: normal;
  position: relative;
  text-transform: capitalize;
  z-index: 10;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.header .header-bottom .menu-right .container-fluid .icone > li > a:hover {
  color: #ffb400;
}

.header .header-bottom .menu-right .container-fluid .icone > li > a span {
  font-size: 24px;
  line-height: 1;
}

.header .header-bottom .menu-right .container-fluid .cart-icone {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.header .header-bottom .menu-right .container-fluid .cart-icone:hover .cart-down {
  opacity: 1;
  visibility: visible;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down {
  position: absolute;
  width: 320px;
  background: #fff;
  right: 15px;
  top: 120%;
  padding: 5px 20px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items {
  padding: 0;
  margin: 0;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li {
  list-style: none;
  display: block;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
  position: relative;
  text-align: left;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-img {
  float: left;
  width: 36%;
  margin-right: 20px;
  position: relative;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-img a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content {
  float: left;
  width: 56%;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content .product-name {
  color: #222;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  width: 123px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content .product-name a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content .product-name a:hover {
  color: #ffb400;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content .product-quantity {
  color: #222;
  font-weight: 400;
  font-size: 20px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-content .product-price {
  color: #ffb400;
  font-size: 20px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-item-remove a {
  position: absolute;
  color: #222;
  right: 2px;
  top: 18px;
  display: inline-block;
  left: auto;
  font-size: 20px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .all-cart-items li .cart-item-remove a:hover {
  color: #ffb400;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .cart-total {
  overflow: hidden;
  padding: 20px 0;
  text-align: left;
  border-bottom: 1px solid #ededed;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .cart-total h5 {
  color: #3e3d43;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .cart-btn {
  padding: 20px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -5px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down .cart-btn a {
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 900;
}

.header .header-bottom .menu-right .container-fluid .cart-icone .cart-down a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header .header-bottom .menu-right .container-fluid .cart-icone > a {
  background-color: transparent;
  border: none;
  color: #222;
  padding: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.header .header-bottom .menu-right .container-fluid .cart-icone > a > span {
  font-size: 24px;
  line-height: 1px;
}

.header .header-bottom .menu-right .container-fluid .cart-icone > a .count {
  position: absolute;
  right: 0px;
  top: -5px;
  color: #222;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  border-radius: 50%;
}

/*========= HEADER END ========*/
/*========= FILTER START ======*/
#slider-area {
  background-color: #F4F4F4;
  border: 10px solid white;
}

#slider-area .sidebar {
  border-radius: 5px;
}

#slider-area .sidebar .sidebar-title {
  background: #191919;
  color: #fff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 27px 18px 20px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#slider-area .sidebar .sidebar-title img {
  margin-right: 20px;
}

#slider-area .sidebar .sidebar-title i {
  float: right;
  top: 50%;
  margin-top: 4px;
}

#slider-area .sidebar .single-widget {
  margin-bottom: 30px;
}

#slider-area .sidebar .single-widget .sidebar-categories {
  background: #fff;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#slider-area .sidebar .single-widget .sidebar-categories li a {
  padding: 20px 24px 18px 53px;
  font-size: 16px;
  font-weight: 400;
  color: var(--heading-color);
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

#slider-area .sidebar .single-widget .sidebar-categories li a img {
  position: absolute;
  left: 20px;
  top: 39%;
}

#slider-area .sidebar .single-widget .sidebar-categories li a .icon-shop {
  position: absolute;
  left: 20px;
  top: 30%;
}

#slider-area .sidebar .single-widget .sidebar-categories li a i {
  float: right;
  top: 47%;
  margin-top: 4px;
}

/*========== FILTER END ============*/
/*==SERVICES START==*/
#shop-services {
  padding: 30px 0px 20px 0px;
}

#shop-services .services-list {
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#shop-services .services-list li {
  width: 20%;
  padding: 30px;
  border-right: 1px solid #eaeaea;
}

#shop-services .services-list .services-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#shop-services .services-list .services-media i {
  font-size: 34px;
  color: #0063d1;
}

#shop-services .services-list .services-media .aling-self-center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

#shop-services .services-list .services-media .services-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#shop-services .services-list .services-media .services-text h4 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -.3px;
}

#shop-services .services-list .services-media .services-text span {
  color: #626060;
  font-size: 14px;
}

/*==SERVICES END==*/
/*==Best Product  Start==*/
/*==Best Product  End==*/
#product-collection {
  padding-top: 50px;
}

#product-collection .product-title {
  margin-bottom: 55px;
}

#product-collection .product-title .title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 13px;
}

#product-collection .product-title .subtitle {
  font-size: 16px;
}

#product-collection .top-product-tab .nav-pills {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

#product-collection .top-product-tab .nav-pills .nav-item .nav-link.active {
  color: red;
  background: transparent;
}

#product-collection .top-product-tab .nav-pills .nav-item .nav-link {
  font-size: 16px;
  color: gray;
  font-weight: 500;
  padding: 0 24px;
  position: relative;
}

/*--Footer Start--*/
.footer-area {
  padding: 15px 0;
  background-color: #1B1D1F;
}

.footer-area .footer-top {
  border-bottom: 1px solid #323436;
}

.footer-area .footer-top .contact-widget {
  background: transparent;
  padding: 0 !important;
  margin-bottom: 45px;
}

.footer-area .footer-top .contact-widget p {
  font-size: 15px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.footer-area .footer-top .contact-widget .footer-logo {
  display: block;
}

.footer-area .footer-top .contact-widget .footer-logo a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.footer-area .footer-top .contact-widget .footer-logo img {
  margin-bottom: 25px;
}

.footer-area .footer-top .contact-widget .contact-info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 22px;
}

.footer-area .widget-title {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 32px;
  position: relative;
}

.footer-area .widget .widget-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.footer-area .widget-menu p {
  font-size: 15px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 1.8;
}

.footer-area .footer-bottom {
  padding: 12px 0;
}

.footer-area .footer-bottom .copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer-area .footer-bottom .social-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-area .footer-bottom .social-area li {
  margin-right: 10px;
}

.footer-area .footer-bottom .social-area li a {
  border: 1px solid #4A4B4F;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.footer-area .footer-bottom .social-area li a :hover {
  border: 1px solid #fff;
  background: #fff;
}

.footer-area .footer-bottom .currency-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-area .footer-bottom .currency-area li {
  margin-right: 10px;
}

.footer-area .footer-bottom .currency-area li a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.contact-widget .contact-info-list li.single-info-item {
  position: relative;
  margin-bottom: 20px;
}

.contact-widget .contact-info-list li.single-info-item h4 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

.widget ul li:first-child {
  margin-top: 0px;
}

.contact-widget .contact_info_list li {
  display: block;
}

/*--Footer End--*/
/*--Partners Strat--*/
#partners .partners-gallery {
  background-color: #f4f4f4;
}

#partners .partners-gallery h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  border-right: 2px solid #e4e4e4;
  letter-spacing: 1px;
}

#partners .partners-logo-list {
  padding: 15px 0;
}

#partners .partners-logo-list ul li {
  display: inline-block;
}

#partners .owl-theme .owl-nav.disabled + .owl-dots {
  display: none;
}

#partners .owl-stage {
  width: 3584px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*--Partners End--*/
/*--Breadcumb Start--*/
.breadcumb {
  margin-top: 15px;
}

.breadcumb {
  background-color: #f9f9f9;
  padding: 29px 0;
  min-height: 80px;
}

.breadcumb .breadcrumb {
  background-color: inherit;
  padding: 0;
  margin-bottom: 0;
}

.breadcumb .breadcrumb-item {
  margin-right: 25px;
}

.breadcumb .breadcrumb-item ::before {
  content: '>';
  font-size: 2px;
}

.breadcumb .breadcrumb-item a {
  color: #222;
  margin-left: 25px;
  text-decoration: none;
}

.breadcumb .breadcrumb-item a :visited {
  text-decoration: none;
  outline: 0;
}

/*--Breadcumb End--*/
/*--Contact Area Start--*/
#contacts .contact-area {
  padding: 80px 0;
}

#contacts .contact-area .head {
  text-align: center;
}

#contacts .contact-area .contact-head {
  padding-bottom: 60px;
}

#contacts .contact-area .contact-head hr {
  width: 34px;
  border-top: 1px dashed #0063d1;
  margin-bottom: 19px;
  margin-top: 0;
}

#contacts .contact-area .contact-text {
  margin-bottom: 10px;
}

#contacts .contact-area form#contact_form {
  width: 100%;
}

#contacts .contact-area form {
  margin: 0;
}

#contacts .contact-area .contact-form .h3 {
  color: #222;
  margin-bottom: 16px;
  line-height: 1;
  font-size: 1em;
}

#contacts .contact-area .btn {
  margin-top: 15px;
  border-radius: 10rem;
  padding: 16px 35px;
  cursor: pointer;
}

.form-inp {
  height: 54px;
  border-radius: 1px;
  border-color: #CCDCFE;
}

.form-txt {
  height: 122px;
  resize: none;
  padding: 19px;
  border-color: #CCDCFE;
}

/*--Contact Area End--*/
#account-area {
  padding: 80px 0;
}

#account-area .row .customer-info {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#account-area .customer-info {
  position: relative;
}

#account-area .customer-info [class^=col-]:first-child {
  padding-right: 65px;
  position: relative;
}

#account-area .customer-info [class^=col-]:first-child::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #eaeaea), color-stop(75%, #eaeaea), to(#fff));
  background: linear-gradient(to bottom, #fff 0%, #eaeaea 25%, #eaeaea 75%, #fff 100%);
}

#account-area .customer-form-wraper h3 {
  font-size: 1.5em;
  margin-bottom: 13px;
  color: inherit;
  font-weight: 500;
}

#account-area .customer-form-xs input:not([type="submit"]) {
  border: 0;
  padding: 0 20px;
  border-radius: 0;
  font-style: italic;
  background-color: transparent;
  font-size: 1em;
  font-style: normal;
}

#account-area .customer-form-xs .input-group {
  background-color: transparent;
}

#account-area .customer-form-xs .input-group {
  border: 1px solid #eaeaea;
  height: 42px;
  margin-bottom: 20px;
}

#account-area .input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

#account-area .input-group ::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

#account-area .input-group :-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

#account-area .input-group ::-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

#account-area .input-group ::placeholder {
  font-style: italic;
  font-size: 12px;
}

#account-area #form-cancel-login {
  font-size: 13px;
  margin-top: 15px;
}

#account-area #form-cancel-login a {
  color: #222;
  text-decoration: none;
}

#account-area #form-cancel-login a :visited {
  outline: 0;
}

#account-area #form-cancel-login #recov-pass {
  color: #0063d1;
  margin-left: 10px;
}

#account-area .form-line {
  position: absolute;
  left: 41.7%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  line-height: 52px;
  border-radius: 100%;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.85714em;
  font-weight: 500;
  color: #cccccc;
  background-color: #FFFFFF;
}

#account-area .btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 16px 35px;
  letter-spacing: .3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #FFFFFF;
}

#account-area .customer-info [class^=col-]:last-child {
  padding-left: 65px;
  position: relative;
}

#wishlist {
  padding: 80px 0;
}

#wishlist .shop-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}

#wishlist .shop-table th {
  font-weight: 700;
  padding: 13px 12px;
}

#wishlist .no-wishlist-img {
  margin-bottom: 12px;
}

#wishlist .no-wishlist-content {
  text-align: center;
  font-size: 30px;
  color: #777777;
}

#shop-area {
  background-color: #F4F4F4;
  padding: 50px 0 100px;
  border: 10px solid white;
}

#shop-area .sidebar {
  border-radius: 5px;
}

#shop-area .sidebar .sidebar-title {
  background: #191919;
  color: #fff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 27px 18px 20px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#shop-area .sidebar .sidebar-title img {
  margin-right: 20px;
}

#shop-area .sidebar .sidebar-title i {
  float: right;
  top: 50%;
  margin-top: 4px;
}

#shop-area .sidebar .single-widget {
  margin-bottom: 30px;
}

#shop-area .sidebar .single-widget .sidebar-categories {
  background: #fff;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#shop-area .sidebar .single-widget .sidebar-categories li a {
  padding: 20px 24px 18px 53px;
  font-size: 16px;
  font-weight: 400;
  color: var(--heading-color);
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

#shop-area .sidebar .single-widget .sidebar-categories li a img {
  position: absolute;
  left: 20px;
  top: 39%;
}

#shop-area .sidebar .single-widget .sidebar-categories li a .icon-shop {
  position: absolute;
  left: 20px;
  top: 30%;
}

#shop-area .sidebar .single-widget .sidebar-categories li a i {
  float: right;
  top: 47%;
  margin-top: 4px;
}

#shop-area .sidebar .single-widget .sidebar-rating {
  background: #fff;
  padding: 25px 20px 18px;
  border-radius: 0 0 5px 5px;
}

#shop-area .sidebar .single-widget .sidebar-rating .sidebar-single-rating {
  position: relative;
}

#shop-area .sidebar .single-widget .sidebar-rating .sidebar-single-rating input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#shop-area .sidebar .single-widget .sidebar-rating .sidebar-single-rating .checkmark {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 13px;
  width: 13px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #2d2e30;
  border-radius: 2px;
}

#shop-area .sidebar .single-widget .sidebar-rating .sidebar-single-rating .star-rating {
  display: inline-block;
  padding: 0 0 10px 25px;
  color: #A1A2A3;
}

#shop-area .sidebar .single-widget .sidebar-rating .sidebar-single-rating .star-rating span {
  font-size: 14px;
}

#shop-area .single-product-card {
  border: 1px solid #ececec;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
}

#shop-area .single-product-card-2 {
  border-radius: 5px;
}

#shop-area .single-product-card-2 img {
  border-radius: 5px 5px 0 0;
  height: 250px;
}

#shop-area .single-product-card-2 .product-card-details {
  padding: 23px 20px 22px;
}

#shop-area .single-product-card-2 .product-card-details .chance {
  position: absolute;
  top: 15px;
  right: 13px;
  background: #ffb400;
  height: 25px;
  padding: 0 17px;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  border-radius: 10px 5px 10px 5px;
}

#shop-area .single-product-card-2 .product-card-details ::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 5px white;
  border-bottom: solid 20px transparent;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#shop-area .single-product-card-2 .product-card-details ::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 5px transparent;
  border-bottom: solid 20px white;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#shop-area .single-product-card-2 .product-card-details .categories {
  font-size: 14px;
  color: #A1A2A3;
  margin-bottom: 9px;
}

#shop-area .single-product-card-2 .product-card-details .title {
  font-size: 16px;
  font-weight: bold;
  color: #191919;
  line-height: 1.3;
  margin-bottom: 8px;
}

#shop-area .single-product-card-2 .product-card-details a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

#shop-area .single-product-card-2 .product-card-details .star-rating {
  margin-bottom: 9px;
}

#shop-area .single-product-card-2 .product-card-details .star-rating i {
  color: gold;
}

#shop-area .single-product-card-2 .product-card-details .shop-price {
  color: #ffb400;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

#card {
  padding: 50px 0;
}

#card .card-area .table thead {
  background-color: black;
  border: 0;
}

#card .card-area .table thead th {
  border: 0;
  font-weight: 600;
  color: white;
  padding: 20px 25px;
}

#card .card-area .table tbody th {
  border: 0;
  border-bottom: 1px solid #ececec;
}

#card .card-area .table tbody th img {
  margin-right: 20px;
}

#card .card-area .table tbody .item-name {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding-left: 0;
}

#card .card-area .table tbody td {
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid #ececec;
  padding: 0px 25px;
}

#card .card-area .table tbody .total-amount {
  padding: 40px 25px;
  color: black;
}

#card .card-area .table tbody .total-amount span {
  font-weight: 600;
  color: #6B6D73;
}

#card .card-area .table form .quantity {
  display: inline-block;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

#card .card-area .table form .quantity input {
  background: transparent;
  border: 0;
  height: 40px;
  color: inherit;
  padding: 0;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

#card .card-area .table form .quantity input::-webkit-outer-spin-button,
#card .card-area .table form .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#card .card-area .table form .quantity .input-text {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

#card .checkout-btn .btn {
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 44px;
}

.btn-basic-lg {
  background-color: #FF8400;
  border: 0;
  padding: 0 36px 0 38px;
  height: 60px;
  border-radius: 0;
  color: #fff;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn {
  position: relative;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
}

body {
  background: #FFFFFF !important;
  font-family: 'Rubik', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */